<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="plantillas/partes :: head"></head>
    <body>
        <header th:replace="plantillas/partes :: header"></header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12"><br>
                    <div class="col-md-3" style="margin-left: 15px">
                        <a class="btn btn-primary" th:href="@{/Programas}">
                            Regresar
                        </a>
                    </div>
                    <center>
                        <h3 th:if="${programa.idPrograma == 0}">Registrar Programa</h3>
                        <h3 th:unless="${programa.idPrograma == 0}">Modificar Programa</h3>
                    </center>
                    <div class="row">
                        <div class="col-md-2">
                            
                        </div>
                        <div class="col-md-8">
                            <form th:action="@{/GuardarPrograma}" method="POST" th:object="${programa}">
                                <div class="form-group" style="margin-bottom: 1px">
                                    <input type="hidden" class="form-control" name="idPrograma" id="idPrograma" th:field="*{idPrograma}" />
                                </div>
                                <div class="form-group" style="margin-bottom: 1px">
                                    <label for="codigo" style="margin: 0px">
                                        Codigo
                                    </label>
                                    <input type="text" class="form-control" name="codigo" id="codigo" placeholder="Codigo" th:field="*{codigoPrograma}" required />
                                </div>
                                <div class="form-group" style="margin-bottom: 1px">
                                    <label for="nombre" style="margin: 0px">
                                        Nombre
                                    </label>
                                    <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre" th:field="*{nombre}" required    />
                                </div>
                                <div class="form-group" style="margin-bottom: 1px">
                                    <label for="semestres" style="margin: 0px">
                                        Semestres Totales
                                    </label>
                                    <input type="number" class="form-control" name="semestres" id="semestres" placeholder="Semestres" th:field="*{semestresTotales}" required/>
                                </div><br>
                                <button type="submit" class="btn btn-primary" th:if="${programa.idPrograma == 0}">
                                    Registrar
                                </button>
                                <button type="submit" class="btn btn-primary" th:unless="${programa.idPrograma == 0}">
                                    Modificar
                                </button>
                                <button type="reset" class="btn btn-danger">
                                    Limpiar
                                </button>
                            </form>
                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
