<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="plantillas/partes :: head"></head>
    <body>
        <header th:replace="plantillas/partes :: header"></header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12"><br>
                    <div class="col-md-3" style="margin-left: 15px">
                        <a class="btn btn-primary" th:href="@{/Actividades}">
                            Regresar
                        </a>
                    </div>
                    <center>
                        <h3 th:if="${actividad.idActividad} == 0 or ${actividad.nombre} == null">Registrar Actividad</h3>
                        <h3 th:unless="${actividad.idActividad} == 0 or ${actividad.nombre} == null">Modificar Actividad</h3>
                    </center>
                    <div class="row">
                        <div class="col-md-2">
                            
                        </div>
                        <div class="col-md-8">
                            <form th:action="@{/GuardarActividad}" method="POST" th:object="${actividad}">
                                <div class="form-group" style="margin-bottom: 1px">
                                    <input type="hidden" class="form-control" name="id" id="id" placeholder="ID" th:field="*{idActividad}" required />
                                </div>
                                <div class="form-group" style="margin-bottom: 1px">
                                    <label for="nombre" style="margin: 0px">
                                        Nombre
                                    </label>
                                    <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre" th:field="*{nombre}" required/>
                                </div>
                                <div class="form-group" style="margin-bottom: 1px">
                                    <label for="tipo" style="margin: 0px">
                                        Tipo
                                    </label>
                                    <select class="form-control" name="tipo" id="tipo" th:field="*{tipo}" required >
                                        <option th:value="Cultural" >Cultural</option>
                                        <option th:value="Deportiva" >Deportiva</option>
                                    </select>
                                </div><br>
                                <button type="submit" class="btn btn-primary" th:if="${actividad.idActividad} == 0 or ${actividad.nombre} == null">
                                    Registrar
                                </button>
                                <button type="submit" class="btn btn-primary" th:unless="${actividad.idActividad} == 0 or ${actividad.nombre} == null">
                                    Modificar
                                </button>
                                <button type="reset" class="btn btn-danger">
                                    Limpiar
                                </button>
                            </form>
                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
