<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="plantillas/partes :: head"></head>
    <body>
        <header th:replace="plantillas/partes :: header"></header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12"><br>
                    <div class="col-md-3" style="margin-left: 15px">
                        <a class="btn btn-primary" th:href="@{/ActividadesProgramadas}">
                            Regresar
                        </a>
                    </div>
                    <center>
                        <h3 th:if="${actividadProgramada.idActividadProgramada} == null or ${actividadProgramada.periodo} == null">Registrar Actividad</h3>
                        <h3 th:unless="${actividadProgramada.idActividadProgramada} == null or ${actividadProgramada.periodo} == null">Modificar Actividad</h3>
                    </center>
                    <div class="row">
                        <div class="col-md-2">
                            
                        </div>
                        <div class="col-md-8">
                            <form th:action="@{/GuardarActividadProgramada}" method="POST" th:object="${actividadProgramada}">
                                <div class="form-group" style="margin-bottom: 1px">
                                    <input type="hidden" class="form-control" name="id" id="id" placeholder="ID" th:field="*{idActividadProgramada}" required />
                                </div>
                                <div class="form-group" style="margin-bottom: 1px">
                                    <label for="actividad" style="margin: 0px">
                                        Actividad
                                    </label>
                                    <select class="form-control" name="actividad" id="actividad" th:field="*{actividad}" required >
                                        <div th:each="a: ${actividades}">
                                            <option th:value="${a.idActividad}" th:text="${a.nombre}"></option>
                                        </div>
                                    </select>
                                </div>
                                <div class="form-group" style="margin-bottom: 1px">
                                    <label for="periodo" style="margin: 0px">
                                        Periodo
                                    </label>
                                    <input type="text" class="form-control" name="periodo" id="periodo" placeholder="Periodo" th:field="*{periodo}" required/>
                                </div><div class="form-group" style="margin-bottom: 1px">
                                    <label for="fechaInicio" style="margin: 0px">
                                        Fecha Inicio
                                    </label>
                                    <input type="date" class="form-control" name="fechaInicio" id="fechaInicio" placeholder="Fecha Inicio" th:field="*{fechaInicio}" required/>
                                </div><div class="form-group" style="margin-bottom: 1px">
                                    <label for="fechaFin" style="margin: 0px">
                                        Fecha Fin
                                    </label>
                                    <input type="date" class="form-control" name="fechaFin" id="fechaFin" placeholder="Fecha Fin" th:field="*{fechaFin}" required/>
                                </div><br>
                                <button type="submit" class="btn btn-primary" th:if="${actividadProgramada.idActividadProgramada} == null or ${actividadProgramada.periodo} == null">
                                    Registrar
                                </button>
                                <button type="submit" class="btn btn-primary" th:unless="${actividadProgramada.idActividadProgramada} == null or ${actividadProgramada.periodo} == null">
                                    Modificar
                                </button>
                                <button type="reset" class="btn btn-danger">
                                    Limpiar
                                </button>
                            </form>
                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
